@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Database access has already been done on April 7, 2025 by Carlos</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">The Database has been set up in the cloud</a>.</p>
</div>
